@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "M PLUS 1p", system-ui;
}

h1 {
    border-top: double 5px black;
    border-bottom: double 5px black;
    text-align: center;
}

 h1 i{
    color: black;
 }

h2 {
    margin-top: 20px;
    padding-left: 30px;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

p{
   margin-left: 20px;
}

 p.ppp{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
 }

 p.ppp span.bold{
    font-weight: bold;
    text-decoration: underline 2px ;
}

 p.pp{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    border-bottom: dotted black;
 }

 p.pp span.bold{
    font-weight: bold;
 }

 .step{
   font-size: 12px;
   margin-top: 10px;
   margin-left: 30px;
   padding: 5px;
   border-top: dotted;
   border-left: dotted;
   border-right: dotted;
   border-bottom: dotted;
}

table{
   margin-left: 30px;
   font-size: 13px;
   margin-top: 8px;
}

img{
   margin-left: 30px;
   width: 150px;
}